<launch>
    <node pkg="tf" name="base2lidar" type="static_transform_publisher" args="0 0 0.1 0 0 0 base_link lidar_link 100"/>

    <arg name="sdf" default="$(find ipteca_px4_sitl)/models/iris_2d_lidar/model.sdf" />

    <include file="$(find px4)/launch/mavros_posix_sitl.launch" >
        <arg name="sdf" value="$(arg sdf)" />
    </include>

</launch>