<?xml version="1.0"?>
<model>
  <name>crazy2fly_sonar_cam</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
   <name>Tatsuya Inagaki</name>
   <email>inagaki@cv.info.gifu-u.ac.jp</email>
  </author>

  <description>
    crazy2fly with sonar rangefinder and fpv camera.
  </description>
</model>
