<?xml version="1.0"?>
<model>
  <name>solo_sonar_cam</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
   <name>Tatsuya Inagaki</name>
   <email>inagaki@cv.info.gifu-u.ac.jp</email>
  </author>

  <description>
    Solo with sonar rangefinder and FPV Camera.
  </description>
</model>